In [1]:
student={'name':'john',
         'age':25,
         'courses':['math','compsci'],
         'phone':'555-5555',
         'address':'123 main st',
         'city':'new york',}
print(student)

{'name': 'john', 'age': 25, 'courses': ['math', 'compsci'], 'phone': '555-5555', 'address': '123 main st', 'city': 'new york'}

In [2]:
#first method to acces dictionary value
print(student['name'])
print(student['courses'])

john
['math', 'compsci']

In [3]:
#second method to acces dictionary value
print(student.get('name'))
print(student.get('phone'))

john
555-5555

In [4]:
#to add a new key value pair
student['school']='MIT'
print(student)

{'name': 'john', 'age': 25, 'courses': ['math', 'compsci'], 'phone': '555-5555', 'address': '123 main st', 'city': 'new york', 'school': 'MIT'}

In [6]:
student['father name']='deny'
student['mother name']='merry'
print(student)

{'name': 'john', 'age': 25, 'courses': ['math', 'compsci'], 'phone': '555-5555', 'address': '123 main st', 'city': 'new york', 'school': 'MIT', 'father name': 'deny', 'mother name': 'merry'}

In [7]:
show={'name':'radhe krishna',
      'male lead':'sumedh',
      'female lead':'malika singh',
      'total season':2,
      'rating':4.5,
      'ott':'hotstar'}
print(show)

{'name': 'radhe krishna', 'male lead': 'sumedh', 'female lead': 'malika singh', 'total season': 2, 'rating': 4.5, 'ott': 'hotstar'}

In [20]:
#to print key using loop
for k in show.keys():
    print(k)

name
male lead
female lead
total season
rating
ott

In [15]:
#to print key and value both using loop
for k,v in show.items():
    print(k,v)

name radhe krishna
male lead sumedh
female lead malika singh
total season 2
rating 4.5
ott hotstar

In [2]:
for v in show.values():
    print(v)

NameError: name 'show' is not defined