In [4]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv('laptops.csv')
df.head()

,title,price,rating
0,"HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...","39,990",NaN
1,"Dell Vostro 3420 Laptop,12th Gen Intel Core i3...","41,990",NaN
2,"Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...","44,490",4.4 out of 5 stars
3,HP 255 G8 Laptop with AMD Athlon Silver 3050U ...,"26,999",NaN
4,Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...,"33,639",NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   339 non-null    object
 1   price   331 non-null    object
 2   rating  24 non-null     object
dtypes: object(3)
memory usage: 8.1+ KB

In [7]:
print(df.columns.tolist())

['title', 'price', 'rating']

In [8]:
def clean_price_column(price):
    if isinstance(price,str):
        price=price.replace(',','')
        price=price.strip()
        if price.isnumeric():
            price=int(price)
            return price
        if len(price)==0:
            return np.nan
    return price

In [9]:
clean_price_column('1,999')

1999

In [10]:
df['cleaned_price']=df['price'].apply(clean_price_column)

In [11]:
def clean_rating_column(rating):
    if isinstance(rating,str):
        rating=rating.split()[0]
        return float(rating)
    return rating

In [12]:
df['cleaned_rating']=df['rating'].apply(clean_rating_column)

In [13]:
df.sort_values(by='price',ascending=False,inplace=True)

In [14]:
df.drop(columns=['price','rating'],inplace=True)

In [15]:
df

,title,cleaned_price,cleaned_rating
129,"ASUS TUF Gaming A15, 15.6"" (39.62 cm) FHD 144H...",98000.0,4.3
104,"ASUS TUF Gaming A15, 15.6"" (39.62 cm) FHD 144H...",98000.0,4.3
160,"ASUS TUF Gaming A15, 15.6"" (39.62 cm) FHD 144H...",98000.0,4.3
179,Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...,97990.0,4.3
79,"ASUS ROG Strix G17, 17.3-inch (43.94 cms) FHD ...",90990.0,4.5
...,...,...,...
191,(renewed) Latitude D620 core 2 Duo Laptop/4 gb...,NaN,NaN
239,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,NaN,NaN
276,(Renewed) Lenovo IdeaPad 3 11th Gen Intel Core...,NaN,NaN
301,"Dell Inspiron 3525 Laptop, AMD Athlon Silver 3...",NaN,NaN
314,(Renewed) Dell Latitude Laptop E5470 Intel Cor...,NaN,NaN